<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Your Details</title>
</head>
<body>
    <form action="/table" method="GET"> 
        Name: <input type="text" name="name"> <br>
        Roll: <input type="text" name="roll"> <br>
        Marks: <input type="text" name="marks"> <br>
        <input type="submit" value="CONFIRM UPDATE">
        <input type="reset" value="RESET">
    </form>
</body>
</html>