<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEB DEV Course</title>
    <link rel="stylesheet" href="{{url_for('static',filename='styles/style.css')}}">
    <link rel="shortcut icon" href="{{url_for('static',filename='images/favicon.ico')}}" type="image/x-icon">
</head>

<body>
    <header>
        <div class="Header">
            <h1>Web Dev Tutorial</h1>
        </div>
            <nav class="Nav-bar">
                <a style="padding: 5%;" class="links" href="/table" target="_blank">Tables</pre></a>
                <a style="padding: 5%;" class="links" href="/youtube" target="_blank">YoutubeVideos</a>
                <a style="padding: 5%;" class="links" href="/wikipedia" target="_blank">Wikipedia</a>
                <a style="padding: 5%;" class="links" href="/form" target="_blank">Forms</a>
            </nav>
    </header>
    <main>   
        <table>
            <thead>
                <tr>
                    <th>Sno.</th>
                    <th>Name</th>
                    <th>Roll</th>
                    <th>Marks</th>
                </tr>
            </thead>
            <tbody>
                {% for x in rows %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{x.name}}</td>
                        <td>{{x.roll}}</td>
                        <td>{{x.marks}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/get_details"><input type="submit" value="GET DETAILS"></a>
    </main>
<hr>
<footer class="footer">
        <a href="/">HomePage</a>
        <a href="">AboutUs</a>
            <big style="font-family: monospace; color:yellow; word-spacing: 0pt;">&copy; TheCharan</big>
            <select name="contact" id="contact">
                <option value="default">Contact Us</option>
                <option value="charan@2k.com">Mail</option>
                <option value="@thecharan316">Instagram</option>
                <option value="CharanVaddepally">Facebook</option>
            </select>
    </footer>
    <hr>
</body>

</html>