<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Table</title>
    <style>
        footer{
            position: absolute;
            bottom: 1px;
            right: 1px;
            left: 1px;
            background-color: rgb(46, 61, 45);
            border-style: double;
            color: grey;
            word-spacing: 20pt;
            font-family: monospace;
            text-align: center;
            font-size: xx-large;
            width: 99%;
        }
    </style>
</head>
<body>
    <header>
        <h1>Welcome to My Tables</h1>
    </header>
    <main>
        <table align="left">
            <thead>
                <tr>
                    <th><pre><big>Roll </big></pre></th>   
                    <th><pre><big>Name </big> </pre></th>   
                    <th><pre><big> Marks </big></pre></th>  
                    <hr>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>501</td>
                    <td>Akash</td>
                    <td>90</td>
                </tr>
                <tr>
                    <td>502</td>
                    <td>Sharan</td>
                    <td>96</td>
                </tr>
                <tr>
                    <td>505</td>
                    <td>Charan</td>
                    <td>69.69</td>
                </tr>
                <tr>
                    <td>509</td>
                    <td>Karthik</td>
                    <td>100</td>
                </tr>
            </tbody>
        </table>
    </main>
    <footer>
        <!-- <nav> -->
            <a href="/">HomePage</a>
            <a href="#">AboutUs</a>
            <big style="font-family: monospace; color:yellow; word-spacing: 0pt;">&copy; TheCharan</big>
            <select name="contact" id="contact">
                <option value="default">Contact Us</option>
                <option value="charan@2k.com">Mail</option>
                <option value="@thecharan316">Instagram</option>
                <option value="CharanVaddepally">Facebook</option>
            </select>
        <!-- </nav> -->
    </footer>
</body>
</html>