<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        nav{
            background-color: rgb(46, 61, 45);
            border-style: double;
            color: grey;
            word-spacing: 20pt;
            font-family: monospace;
            text-align: center;
            font-size: xx-large;
        }
    </style>
    <title>My Youtube</title>
</head>
<body>
    <header>
        <center>
            <h1>My Favourite Youtube Content</h1>
        </center>
    </header>
    <main>
        <section>
        <div>
            <h2>Computer Science</h2>
            <hr>
            <iframe width="325" height="200" src="https://www.youtube.com/embed/Lp9Ftuq2sVI" title="YouTube video player" frameborder="10" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
            <iframe width="325" height="200" src="https://www.youtube.com/embed/jl5yUEdekEM" title="YouTube video player" frameborder="10" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <iframe width="325" height="200" src="https://www.youtube.com/embed/PihtA9D-IlE" title="YouTube video player" frameborder="10" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <iframe width="325" height="200" src="https://www.youtube.com/embed/z-5bZ8EoKu4" title="YouTube video player" frameborder="10" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        </section>
        <hr>
        <section>
            <div>
                <h2>Motivational</h2>
                <hr>
                <iframe width="325" height="200" src="https://www.youtube.com/embed/xNgQOHwsIbg" title="YouTube video player" frameborder="10" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                <iframe width="325" height="200" src="https://www.youtube.com/embed/CZx4DTglHJc" title="YouTube video player" frameborder="10" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                <iframe width="325" height="200" src="https://www.youtube.com/embed/BpsaM1pZrjI" title="YouTube video player" frameborder="10" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                <iframe width="325" height="200" src="https://www.youtube.com/embed/doRvfFvmbS8" title="YouTube video player" frameborder="10" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </section>
        <hr>
        <section>
            <div>
                <h2>Chillax</h2>
                <hr>
                <iframe width="325" height="200" src="https://www.youtube.com/embed/OYlzcXA3LxI" title="YouTube video player" frameborder="10" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                <iframe width="325" height="200" src="https://www.youtube.com/embed/esX7SFtEjHg" title="YouTube video player" frameborder="10" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                <iframe width="325" height="200" src="https://www.youtube.com/embed/f02mOEt11OQ" title="YouTube video player" frameborder="10" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </section>
    </main>
    <footer>
        <nav>
            <a href="/">HomePage</a>
            <a href="#">AboutUs</a>
            <big style="font-family: monospace; color:yellow; word-spacing: 0pt;">&copy; TheCharan</big>
            <select name="contact" id="contact">
                <option value="default">Contact Us</option>
                <option value="charan@2k.com">Mail</option>
                <option value="@thecharan316">Instagram</option>
                <option value="CharanVaddepally">Facebook</option>
            </select>
        </nav>
    </footer>
</body>
</html>